* {
    box-sizing: border-box;
}

body {
    background-color: #17181f;
    color: #ddd;
}

main {
    max-width: 400px;
    margin: 30px auto;
}

h1 {
    text-align: center;
    color: #fff;
    margin: 0;
}

form {
    margin-top: 20px;
}

form input {
    width: 100%;
    background-color: transparent;
    color: #ddd;
    border: 2px solid #30313d;
    padding: 2px 5px;
    border-radius: 5px;
}

form input[type="datetime-local"] {
    color: #777;
}

form div.basic {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

form button {
    width: 100%;
    margin-top: 5px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: #ddd;
}

div.transactions {
    margin-top: 10px;
}

div.transaction {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    border-top: 1px solid #30313d;
}

div.transaction:first-child {
    border-top: 0;
}

div.transaction div.name {
    font-size: 1rem;
}

div.transaction div.description {
    font-size: .8rem;
    color: #aaa;
}

div.right {
    text-align: right;
}

div.price.green {
    color: #1c1;
}

div.price.red {
    color: #c11;
}

div.transaction div.datetime {
    font-size: .8rem;
    color: #aaa;
}